/*CENTAURI STELLAIRE*/
/* structure */
body{
	font-family: "Titillium Web", Arial, helvetica, sans-serif, serif;
	margin: 0;
	text-align: center;
	background: black;
    background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}

*{
    box-sizing: border-box;
}

ul, li{
	margin: 0;
	padding: 0;
}

.centauriTitle{
	padding-top:80px;
	padding-left:285px;
}

h1, h2{
	text-align: left;
	margin:0;
	font-style: ;
}

h1{
	font-weight: normal;
	font-size: 40px;
	color: #fff;
	margin-left: 25px;

}

h2{
	font-weight: normal;
	font-size: 30px;
	color: #fff;
}

h3{
	text-align: left;
	margin: 15px 0px 0px 0px;
	font-size: 23px;
	background-color: white;
	color: rgb(150,25,5);
}

p{
	margin: 8px 20px 10px 0px;
}

a{
	text-decoration: none;
}


img{
	max-width: 100%;
	display: block;
	margin-top:10px;	
}

.img{
	border: 1px #fff solid;
	box-shadow:  0px 0px 1em rgb(20,0,0);
}

.img_article{
	float: left;
	width: 270px;
}

.white{
	color: #fff;
	font-size: 15px;
	line-height:20px;
	text-align:
}

.left_white{
	color: #fff;
	font-size: 19px;
	text-align: left;
}

.color{
	margin: 15px 0px;
	padding-left: 5px;

}

main, .container{
	max-width: 1200px;
	margin: 0 auto;
	background: #fff;
}
/*--header--------------------------------------------*/
header{
	padding-bottom: 30px;
/*	margin-bottom: 0px;
	background-image: url("../images/background.jpg");
*/	background-color:rgb(4,8,12);
	background-image: url("../images/HeaderPlanet.jpg");
	background-repeat: no-repeat;
	background-size:1200px 240px;
	border-radius: 0px 0px 20px 20px;
	border-width:8px;
	border-style:solid;
	border-color: rgb(170,20,0);
	box-shadow:  0px 0px 0.6em rgb(20,0,0);
/*	border-left: 1px #fff solid;
	border-right: 1px #fff solid;
*/
}

/*--nav--------------------------------------------*/
nav{
	display: block;
	float: left;
/*	background: #ff0000;
*/	padding-left: 155px;
	margin-bottom: 10px;
}

.nav li{
	display: inline-block;
	font-size: 20px;
	padding: 15px 10px;
	color: #fff;
}

nav ul li a{
	color: white;
	padding: 4px 14px 8px 14px;
	background: rgb(210,70,35);
	background: -webkit-linear-gradient(rgb(210,70,35), rgb(255,150,115), rgb(210,70,35));
	background: -o-linear-gradient(rgb(210,70,35), rgb(255,150,115), rgb(210,70,35));
	background: -moz-linear-gradient(rgb(210,70,35), rgb(255,150,115), rgb(210,70,35));
	background: linear-gradient(rgb(210,70,35), rgb(255,150,115), rgb(210,70,35));
/*	box-shadow:  inset 0px 0px 1em rgb(20,0,0);
*/	box-shadow:  0px 0px 0.6em rgb(0,0,0);
	border-radius: 10px;	
	border-width:6px;
	border-style:solid;
	border-color: rgb(170,20,0);	
	transition: all 0.2s linear 0.2s;
}

nav a:hover{
	background: rgb(255,220,215);
	background: -webkit-linear-gradient(rgb(255,190,155), rgb(255,110,75), rgb(255,190,155));
	background: -o-linear-gradient(rgb(255,190,155), rgb(255,110,75), rgb(255,190,155));
	background: -moz-linear-gradient(rgb(255,190,155), rgb(255,110,75), rgb(255,190,155));
	background: linear-gradient(rgb(255,190,155), rgb(255,110,75), rgb(255,190,155));
	color: rgb(150,25,5);
	box-shadow:  inset 0px 0px 0.6em rgb(140,0,0),  0px 0px 0.6em rgb(0,0,0);
}
/*--article--------------------------------------------*/
article{
	clear: both;
}

.article{
	display: block;
	width: 80%;
	text-align: left;
	float: left;
	padding: 0px 25px 25px 25px;
	margin-bottom: 10px;
	background: #fff;
	overflow: hidden;
}

.mini_article{
	display: inline-block;
	text-indent: 20px;
	width: 30%;
	float: left;
	margin-right: 20px;
	margin-top:10px;
}

.info{
	display: block;
	background: #ff0000;
	width: 20%;
	text-align: left;
	float: right;
	padding: 0px 10px;
/*	border-right: 1px #fff solid;
*/	margin-bottom: 30px;
	border-radius: 15px 0px 0px 15px;
	background: rgb(210,70,35);
	background: -webkit-linear-gradient(rgb(210,70,35), rgb(255,150,115), rgb(210,70,35));
	background: -o-linear-gradient(rgb(210,70,35), rgb(255,150,115), rgb(210,70,35));
	background: -moz-linear-gradient(rgb(210,70,35), rgb(255,150,115), rgb(210,70,35));
	background: linear-gradient(rgb(210,70,35), rgb(255,150,115), rgb(210,70,35));
	box-shadow:  inset 0px 0px 1em rgb(20,0,0);
	box-shadow:  0px 0px 0.6em rgb(0,0,0);
/*	border-radius: 10px;	
*/	border-width:6px;
	border-style:solid;
	border-color: rgb(170,20,0);
}
/*--formulaire--------------------------------------------*/
.register{
	float: right;
	text-align: right;
	width: 40%;
	padding: 20px 200px 40px 0px;
	margin-bottom: 20px;
}

.login{
	float: left;
	text-align: right;
	width: 40%;
	padding: 20px;
	margin-left: 100px;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 15px 15px 15px 15px;
	background: rgb(210,70,35);
	background: -webkit-linear-gradient(rgb(210,70,35), rgb(255,150,115), rgb(210,70,35));
	background: -o-linear-gradient(rgb(210,70,35), rgb(255,150,115), rgb(210,70,35));
	background: -moz-linear-gradient(rgb(210,70,35), rgb(255,150,115), rgb(210,70,35));
	background: linear-gradient(rgb(210,70,35), rgb(255,150,115), rgb(210,70,35));
	box-shadow:  inset 0px 0px 1em rgb(20,0,0);
	box-shadow:  0px 0px 0.6em rgb(0,0,0);
	border-radius: 20px 20px 20px 20px;	
	border-width:6px;
	border-style:solid;
	border-color: rgb(170,20,0);
}

input{
	margin-bottom: 20px;


}

select{
	margin-bottom: 20px;
}

.margin-bottom{
	margin-bottom: 20px;
}
/*--footer--------------------------------------------*/
footer{
	clear: both;
	display: block;
	background: #ff0000;
	color: #fff;
	background: rgb(210,70,35);
	background: -webkit-linear-gradient(rgb(210,70,35), rgb(255,150,115), rgb(210,70,35));
	background: -o-linear-gradient(rgb(210,70,35), rgb(255,150,115), rgb(210,70,35));
	background: -moz-linear-gradient(rgb(210,70,35), rgb(255,150,115), rgb(210,70,35));
	background: linear-gradient(rgb(210,70,35), rgb(255,150,115), rgb(210,70,35));
	box-shadow:  inset 0px 0px 1em rgb(20,0,0);
	box-shadow:  0px 0px 0.6em rgb(0,0,0);
	border-radius: 20px 20px 0px 0px;	
	border-width:6px;
	border-style:solid;
	border-color: rgb(170,20,0);
	margin: 0;
}
/*--responsive tablette-------------------------------------------*/
@media screen and (max-width: 800px){
	
	img{
		margin-top: 0;
	}
	
	header{
		padding: 0;
		border-radius: 0px;
		margin-bottom: 10px;
		border-width:4px;
		background-size: 800px 160px;	
	}

	ul li{
		margin: 0;
	}

	nav{
	padding-left: 0px;
	margin-bottom: 1px;
	margin: 0px;
	float: none;
	}

	.nav li{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
	font-size: 18px;
	padding: 0px;
	
	}

	nav ul li a{
	box-shadow:  none;
	border-radius: 0px;	
	border-width: 4px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	transition: all 0.2s linear 0.2s;
	}

	nav a:hover{
	box-shadow: none;
	}

	.article{
	display: block;
	width: 100%;
	text-align: left;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 0;
	background: #fff;
	overflow: hidden;
	}

	.info{
	display: block;
	width: 100%;
	text-align: left;
	padding: 30px 10px;
	margin-bottom: 30px;
	border-radius: 0px 0px 0px 0px;
	border-width:4px;
	}

	.login{
	width: 100%;
	padding: 10px;
	border-radius: 0px 0px 0px 0px;
	margin: 20px 0px 20px 0px;
	float: none;
	border-width: 4px;
	}

	.centauriTitle{
	padding-top:50px;
	padding-left:50px;
	}

	h1{
	font-size: 30px;
	margin-left: 150px;
	}

	h2{
	font-size: 20px;
	margin-left: 150px;
	margin-bottom: 20px;
	}
	
	h3{
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 18px;
	}

	footer{
		margin-top: 20px;
		border-radius: 0;
		border-width: 4px;	
	}
}

/*--responsive mobile-------------------------------------------*/
@media screen and (max-width: 500px){
	
	h1{
	font-size: 20px;
	margin-left: 115px;
	}

	h2{
	font-size: 18px;
	
	margin-left: 40px;
	margin-bottom: 0px;
	}

	img{
		margin-top: 0;
	}
	
	header{
		padding: 0;
		border-radius: 0px;
		margin-bottom: 10px;
		border-width:4px;
		background-size: 600px 12
		0px;	
	}

}